body {
  background-color: #1a121a;
}

.reveal a {
  color: #e31;
  text-decoration: underline;
}

.reveal a.blue {
  color: #16e;
}

.reveal li {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.reveal {
  font-size: 28px;
}

.reveal .slides {
  text-align: left;
}

.reveal pre {
  width: auto;
  font-size: 0.9em;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.2);
}

.reveal pre code {
  background-color: rgba(255, 255, 255, 0.06);
  max-height: 450px;
}

.reveal pre code::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.reveal pre code::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

.reveal pre code::-webkit-scrollbar-corner {
  background-color: transparent;
}

.reveal code em {
  font-style: normal;
  background-color: #4488bb;
  color: white;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.reveal p code {
  background-color: transparent;
  color: #e82;
}

/*.reveal h1 {*/
  /*font-size: 2em;*/
/*}*/

.reveal .subtle {
  opacity: 0.6;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 1.05;
}

.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code,
.reveal h5 code,
.reveal h6 code {
  text-transform: none;
  color: #e82;
}

.reveal p {
  line-height: 1.2;
}

.reveal table td {
  color: #bbb;
}

.reveal table th {
  text-transform: uppercase;
}

.reveal .columns:after {
  content: "";
  display: table;
  clear: both;
}

.reveal .column {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.reveal .columns.four .column {
  width: 25%;
}

.reveal .columns.three .column {
  width: 33%;
}

.reveal .column {
  padding-right: 0.5em;
}

.reveal .column:last-child {
  padding-right: 0;
  padding-left: 0.5em;
}

/*.reveal .column h3,*/
/*.reveal .column ul {*/
  /*display: block;*/
  /*text-align: left;*/
/*}*/

.reveal .xxxl {
  font-size: 1.4em;
}

.reveal .xxl {
  font-size: 1.3em;
}

.reveal .xl {
  font-size: 1.2em;
}

.reveal .l {
  font-size: 1.1em;
}

.reveal .m {
  font-size: 1em;
}
.reveal .s {
  font-size: 0.9em;
}
.reveal .xs {
  font-size: 0.8em;
}

.reveal .xxs {
  font-size: 0.7em;
}
.reveal .xxxs {
  font-size: 0.6em;
}
.reveal .xxxxs {
  font-size: 0.5em;
}
.reveal .xxxxxs {
  font-size: 0.4em;
}
.reveal .xxxxxxs {
  font-size: 0.3em;
}

.reveal .center {
  text-align: center;
}

.reveal section img {
  border: none;
  background: none; /* wtf */
}

.reveal .red {
  color: #e31;
}

.reveal .green {
  color: #1c3;
}

.reveal section img {
  max-height: none;
  max-width: none;
}

.reveal table.team td {
  padding: 10px;
  border: none;
}

.reveal table.team img {
  margin: 0;
  display: block;
  width: 130px;
}