<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <style>

      body {
        margin: 0;
        font-family: arial, helvetica, sans-serif;
        font-size: 22px;
        line-height: 26px;
        background-color: #cccccc;
      }

      .channel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 70px;
        overflow-y: scroll;
      }

      .message {
        background: #ffffcc;
        padding: 12px 14px;
        border-radius: 3px;
        margin: 15px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 10px 10px rgba(255, 255, 255, 0.5);
      }

      form {
        margin: 0;
        position: absolute;
        bottom: 0;
        height: 70px;
        background-color: #666666;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        border-top: 1px solid #999999;
      }

      form.message-form {
        left: 0;
        right: 200px;
      }

      form.search-form {
        right: 0;
        width: 200px;
      }

      input {
        box-sizing: border-box;
        border: none;
        padding: 0 20px;
        font-size: 25px;
        height: 100%;
        width: 100%;
        font-family: arial, helvetica, sans-serif;
        color: #349;
      }

    </style>

  </head>

  <body>

    <div class="channel">
      <% for message in @messages %>
        <div class="message">
          <%= message %>
        </div>
      <% end %>
    </div>

    <form class="message-form" method="post" action="/send">
      <input type="text" name="message" placeholder="Enter your message" autofocus autocomplete="off">
    </form>

    <form class="search-form">
      <input type="search" placeholder="Search..." />
    </form>

    <script>

      // Scrolls the channel so the last message is visible
      function showLastMessage() {
        let lastMessage = document.querySelector('.message:last-child')
        if (lastMessage) {
          lastMessage.scrollIntoView()
        }
      }

      // Show the last message when the page has loaded
      window.addEventListener('load', showLastMessage)

      // Loads a fresh list of messages from the server
      async function refresh() {
        let response = await fetch('/channel')
        let newHTML = await response.text()
        let parser = new DOMParser()
        let newDocument = parser.parseFromString(newHTML, 'text/html')
        let newChannel = newDocument.querySelector('.channel')
        let oldChannel = document.querySelector('.channel')
        oldChannel.replaceWith(newChannel)

        search()
        showLastMessage()
      }

      setInterval(refresh, 1000);

      // Only shows messages that contain the search query
      function search() {
        let queryInput = document.querySelector('.search-form input')
        let query = queryInput.value.toLowerCase()
        let messageElements = document.querySelectorAll('.message')
        for (let messageElement of messageElements) {
          let text = messageElement.textContent.toLowerCase()
          if (text.includes(query)) {
            messageElement.style.display = 'block'
          } else {
            messageElement.style.display = 'none'
          }
        }
        showLastMessage()
      }

      window.addEventListener('load', function() {
        let queryInput = document.querySelector('.search-form input')
        queryInput.addEventListener('input', search)
      })

    </script>

  </body>
</html>
