<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>

    <style>
      body {
        margin: 0;
        font-family: arial, helvetica, sans-serif;
        font-size: 22px;
        line-height: 26px;
        background-color: #cccccc;
        height: 100dvh;
        display: flex;
        flex-direction: column;
      }

      .channel {
        flex: 1 1 0;
        overflow-y: scroll;
      }

      .message {
        background: #ffffcc;
        padding: 12px 14px;
        border-radius: 3px;
        margin: 15px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 10px 10px rgba(255, 255, 255, 0.5);
      }

      form {
        margin: 0;
        flex: 0 0 70px;
        background-color: #666666;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      }

      input {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-top: 1px solid #999999;
        padding: 0 20px;
        font-size: 25px;
        font-family: arial, helvetica, sans-serif;
        color: #349;
      }
    </style>

    <script>
      // Scrolls the channel so the last message is visible
      function showLastMessage() {
        let lastMessage = document.querySelector('.message:last-child')
        if (lastMessage) {
          lastMessage.scrollIntoView()
        }
      }

      // Show the last message when the page has loaded
      window.addEventListener('load', showLastMessage)

      // Loads a fresh list of messages from the server
      async function refresh() {
        let response = await fetch('/')
        let newHTML = await response.text()
        let parser = new DOMParser()
        let newDocument = parser.parseFromString(newHTML, 'text/html')
        let newChannel = newDocument.querySelector('.channel')
        let oldChannel = document.querySelector('.channel')
        oldChannel.replaceWith(newChannel)

        showLastMessage()
      }

      setInterval(refresh, 1000);
    </script>
  </head>

  <body>

    <div class="channel">
      <% for message in @messages %>
        <div class="message">
          <%= message %>
        </div>
      <% end %>
    </div>

    <form method="post" action="/send">
      <input type="text" name="message" placeholder="Enter your message" autofocus autocomplete="off">
    </form>

  </body>
</html>
